.App {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pokemonCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.card {
  width: 250px;
  background-color: #ffcb05;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.card > h2 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
}

.card > img {
  max-height: 50px;
}

.pokemonInfo {
  text-align: center;
}

.pokemonInfo > img {
  width: 100%;
}

.pokemonInfo > h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
}
.stats > p {
  letter-spacing: 1px;
  color: #ffffff;
  line-height: 20px;
}

.pageControl {
  text-align: right;
  margin-top: 20px;
}

.pageControl > button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
}
